{% extends "partials/layout.njk" %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}

{% set pageTitle = 'Generate document - Document generation' %}

{% block innerContent %}
  <h1 class="govuk-heading-l">Generate document</h1>

  {{ govukSummaryList({
    card: {
      title: { text: "Template information" }
    },
    rows: [
      {
        key: { text: "Group" },
        value: { text: template.groups[0].name }
      } if template.groups.length,
      {
        key: { text: 'Code' },
        value: { text: template.code }
      },
      {
        key: { text: 'Name' },
        value: { text: template.name }
      }
    ] | removeNullish
  }) }}

  <h2 class="govuk-heading-m">Variables</h2>

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    {% if template | hasVariableDomain('PRISON') %}
      {{ govukInput({
        name: "prison",
        classes: "govuk-input--width-4",
        label: { text: "Prison ID" },
        errorMessage: validationErrors | findError('prison'),
        value: prison
      }) }}
    {% endif %}

    {% if template | hasVariableDomain('PERSON') %}
      {{ govukInput({
        name: "prisoner",
        classes: "govuk-input--width-10",
        label: { text: "Prison Number" },
        errorMessage: validationErrors | findError('prisoner'),
        value: prisoner
      }) }}
    {% endif %}

    {% if template | hasVariableDomain('TEMPORARY_ABSENCE') %}
      {{ govukInput({
        name: "absenceId",
        classes: "govuk-input--width-20",
        label: { text: "Temporary absence ID" },
        errorMessage: validationErrors | findError('absenceId'),
        value: absenceId
      }) }}
    {% endif %}

    {{ govukButton({
      text: "Continue",
      preventDoubleClick: true
    }) }}
  </form>
{% endblock %}
