{% extends "partials/layout.njk" %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions -%}

{% set fullWidth = true %}
{% set pageTitle = 'Document generation' %}

{% block innerContent %}
  {{ mojPageHeaderActions({
    heading: {
      classes: "govuk-!-margin-bottom-6",
      text: "Document generation"
    },
    items: [{
      text: "Add a template",
      href: "/add-template?group=" + activeGroupCode,
      preventDoubleClick: true
    }]
  }) }}

  {% set tabs = [] %}
  {% for group in groups %}
    {% set tabs = (tabs.push(
      {
        text: group.name,
        href: '?group=' + group.code,
        active: activeGroupCode === group.code
      }
    ), tabs) %}
  {% endfor %}

  {{ mojSubNavigation({
    label: "Navigation",
    items: tabs
  }) }}

  {% set rows = [] %}
  {% for template in templates %}
    {% set rows = (rows.push([
      {
        text: template.name
      },
      {
        classes: 'govuk-link govuk-link--no-visited-state',
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/edit-template/' + template.id + '">Edit<span class="govuk-visually-hidden"> ' + template.name + '</span></a>'
      },
      {
        classes: 'govuk-link govuk-link--no-visited-state',
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/generate-document/' + template.id + '">Generate document<span class="govuk-visually-hidden"> for ' + template.name + '</span></a>',
        format: "numeric"
      }
    ]), rows) %}
  {% endfor %}

  {% if rows.length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukTable({
          firstCellIsHeader: false,
          head: [
            {
              text: "Name"
            },
            {
              text: "Actions"
            },
            {
              text: "",
              format: "numeric"
            }
          ],
          rows: rows
        }) }}
      </div>
    </div>
  {% else %}
    <p>No templates found in this template group.</p>
  {% endif %}
{% endblock %}
