{% extends "partials/layout.njk" %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}

{% set pageTitle = 'Download document - Document generation' %}

{% block innerContent %}
  <h1 class="govuk-heading-l">Download document</h1>

  {{ govukSummaryList({
    card: {
      title: { text: "Template information" }
    },
    rows: [
      {
        key: { text: "Group" },
        value: { text: template.groups[0].name }
      } if template.groups.length,
      {
        key: { text: 'Code' },
        value: { text: template.code }
      },
      {
        key: { text: 'Name' },
        value: { text: template.name }
      }
    ] | removeNullish
  }) }}

  <h2 class="govuk-heading-m">Variables</h2>

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    {% for domain in template.variables.domains %}
      <h3 class="govuk-heading-s">{{ domain.description }}</h3>
      {% for variable in domain.variables %}
        {% if variable.code === 'PERSON__IMAGE' %}
          <div class="horizontal-form govuk-!-margin-bottom-5">
              {{ govukInput({
                name: variable.code,
                classes: "govuk-input--width-10",
                label: { html: variable.description + '<span class="govuk-visually-hidden"> (' + domain.description  + ')</span>' },
                errorMessage: validationErrors | findError(variable.code),
                value: variables[variable.code]
              }) }}

              {{ govukButton({
                name: "reload",
                text: "Reload image preview",
                preventDoubleClick: true
              }) }}
          </div>
          {% if variables[variable.code] %}
            <img class="govuk-!-margin-bottom-3" src="/prisoner-image/{{ variables[variable.code] }}" alt="Image of person" loading="lazy">
          {% endif %}
        {% elseif r/_ADDRESS$/.test(variable.code) %}
          {{ govukTextarea({
            name: variable.code,
            label: { html: variable.description + '<span class="govuk-visually-hidden"> (' + domain.description  + ')</span>'  },
            errorMessage: validationErrors | findError(variable.code),
            value: variables[variable.code]
          }) }}
        {% else %}
          {{ govukInput({
            name: variable.code,
            label: { html: variable.description + '<span class="govuk-visually-hidden"> (' + domain.description  + ')</span>' },
            errorMessage: validationErrors | findError(variable.code),
            value: variables[variable.code]
          }) }}
        {% endif %}
      {% endfor %}
    {% endfor %}

    <div class="govuk-button-group">
      {{ govukButton({
        name: "download",
        text: "Generate and download",
        preventDoubleClick: true
      }) }}

      {% if returnTo %}
        {{ govukButton({
          classes: "govuk-button--secondary",
          text: "Exit",
          href: returnTo,
          preventDoubleClick: true
        }) }}
      {% else %}
        {{ govukButton({
          classes: "govuk-button--secondary",
          text: "Back to document generation",
          href: homeUrl,
          preventDoubleClick: true
        }) }}
      {% endif %}
    </div>
  </form>
{% endblock %}
