{% extends "partials/layout.njk" %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "govuk/components/inset-text/macro.njk" import govukInsetText -%}

{% set pageTitle = 'Download document - Document generation' %}

{% block innerContent %}
  <span class="govuk-caption-l">Create and download documents</span>
  <h1 class="govuk-heading-l">Create a {{ template.name }}</h1>

  {{ govukSummaryList({
    card: {
      title: { text: "Template information" }
    },
    rows: [
      {
        key: { text: "Group" },
        value: { text: template.groups[0].name }
      } if template.groups.length,
      {
        key: { text: 'Code' },
        value: { text: template.code }
      },
      {
        key: { text: 'Name' },
        value: { text: template.name }
      }
    ] | removeNullish
  }) }}

  <h2 class="govuk-heading-m">Variables</h2>

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    {% for domain in template.variables.domains %}
      <h3 class="govuk-heading-s">{{ domain.description }}</h3>
      {% for variable in domain.variables %}
        {% if variable.code === 'perImage' %}
          {{ govukInput({
            formGroup: { classes: "govuk-!-display-none" },
            name: variable.code,
            value: variables[variable.code]
          }) }}
          {% if variables[variable.code] %}
            <label class="govuk-label" for="perImage">{{ variable.description }}</label>
            <img name="perImage" class="govuk-!-margin-bottom-3" src="/prisoner-image/{{ variables[variable.code] }}" alt="Image of person" loading="lazy">
          {% endif %}
        {% elseif r/Address$/.test(variable.code) %}
          {{ govukTextarea({
            name: variable.code,
            label: { html: variable.description + '<span class="govuk-visually-hidden"> (' + domain.description  + ')</span>'  },
            errorMessage: validationErrors | findError(variable.code),
            value: variables[variable.code]
          }) }}
        {% else %}
          {% set readOnly = (domain.code === 'PERSON' or domain.code === 'PRISON') and variable.code !== 'prsnPhone' %}

          {{ govukInput({
            name: variable.code,
            label: { html: variable.description + '<span class="govuk-visually-hidden"> (' + domain.description  + ')</span>' },
            errorMessage: validationErrors | findError(variable.code),
            value: variables[variable.code],
            hint: { text: 'Not editable' } if readOnly else undefined,
            classes: 'default-cursor' if readOnly else undefined,
            attributes: { readonly: 'true' } if readOnly else {}
          }) }}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% if template.instructionText %}
      {{ govukInsetText({
        text: template.instructionText
      }) }}
    {% endif %}

    <div class="govuk-button-group">
      {{ govukButton({
        name: "download",
        text: "Generate and download",
        preventDoubleClick: true
      }) }}

      {% if returnTo %}
        {{ govukButton({
          classes: "govuk-button--secondary",
          text: "Exit",
          href: returnTo,
          preventDoubleClick: true
        }) }}
      {% else %}
        {{ govukButton({
          classes: "govuk-button--secondary",
          text: "Back to document generation",
          href: homeUrl,
          preventDoubleClick: true
        }) }}
      {% endif %}
    </div>
  </form>
{% endblock %}
